%fieldset.first
  - new_child_fields_template f, :emails
  - new_child_fields_template f, :phones
  - new_child_fields_template f, :addresses

  - if employee.errors.any?
    #error_explanation
      %h2
        = pluralize(employee.errors.count, "error")
        prohibited this employee from being saved:

      %ul
        - employee.errors.full_messages.each do |msg|
          %li= msg
  .fields
    = f.label :name, add_required_star('Employee Name')
    .item
      = f.text_field :name
    %p.hint
      A great hint
  .fields
    = f.label :title, "Employee Title"
    .item
      = f.text_field :title
  .fields-alt
    = f.label :time_zone, "Your Time Zone"
    = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones
  .fields
    = f.label :login, add_required_star('Employee Login')
    .item
      = f.text_field :login
    %p.hint
      Please choose a unique login that is more than 4 letters or numbers

  .fields
    = f.label :password, add_required_star('Employee Password')
    .item
      = f.password_field :password, "autocomplete" => "off"
    - if controller.action_name == "edit"
      %p.hint
        Leave blank if you do not want to change your password.<br>You will need to Login again if you update your password.
    - else
      %p.hint
        Must be more than 6 characters
      
  .fields
    = f.label :password_confirmation, add_required_star('Password Confirmation')
    .item
      = f.password_field :password_confirmation, "autocomplete" => "off"
    %p.hint
      Must match the password you entered above
      
  .fields
    = f.label :web_address, "Web Address"
    .item
      = f.text_field :web_address
    %p.hint
      e.g. http://jsasearch.net or http://www.jsasearch.net
      
  - if admin?
    .fields.bool
      .item
        = f.check_box :admin
      = f.label :admin, "Make Employee an Admin?"  
      %p.hint
        Check to make this employee an Admin -
        %strong
        Remember: Admins have full control      
            
#accordionForm
  %h3 
    %a{:href => "#"}
      Employee&#8217;s Phone Numbers
  .ui-accordion-content
    .additional_fields
      = f.fields_for :phones do |builder|
        = render :partial => 'shared/forms/phone', :locals => { :f => builder }

    %p= add_child_link "Add Phone Number", :phones
               
    .actions
      %p
        %a{:href => "#", :class => "previous button"} previous
        %a{:href => "#", :class => "next button"} next

  %h3#email-info 
    %a{:href => "#"}
      Employee&#8217;s Emails
  .ui-accordion-content
    .additional_fields
      = f.fields_for :emails do |builder|
        = render :partial => 'shared/forms/email', :locals => { :f => builder }
              
    %p= add_child_link "Add an Email", :emails

    .actions
      %p
        %a{:href => "#", :class => "previous button"} previous
        %a{:href => "#", :class => "next button"} next
  %h3 
    %a{:href => "#"}
      Employee&#8217;s Addresses
  .ui-accordion-content
    .additional_fields
      = f.fields_for :addresses do |builder|
        = render :partial => 'shared/forms/address', :locals => { :f => builder }
  
    %p= add_child_link "Add an Address", :addresses
    
    .actions
      %p
        %a{:href => "#", :class => "previous button"} previous
        %a{:href => "#", :class => "next button"} next
  %h3 
    %a{:href => "#"}
      Employee&#8217;s Bio
  .ui-accordion-content
    .fields.long
      = image_tag(@employee.avatar.thumb_path_with_ssl, :alt => @employee.name, :class => "left avatar") if @employee.avatar?
      = f.label :avatar
      .item
        = f.file_field :avatar
        = f.hidden_field :avatar_cache        
      %p.hint
        Please only use photos that are jpg, gif, or png and under 2mb
    .fields.bool
      .item
        = f.check_box :display_bio
      = f.label :display_bio, "Display the Bio Publicly"  
      %p.hint
        Check to display the bio to the public
      
    .fields.long
      = f.label :bio
      .item
        = f.text_area :bio
        %span.charactersLeft 720
      
    .actions
      %p
        %a{:href => "#", :class => "previous button"} previous
        %a{:href => "#", :class => "next button"} next        
    
