.form
 
  %p.object_links
    = link_to "Back to Facility", client_path(@client), :class => "button"
  
  %h1= "Edit Facility"
  
  = form_for([@client, @facility]) do |f|
    = render :partial => 'form', :locals => { :f => f, :facility => @facility }
  
    .actions
      = f.submit "Update Facility", :class => "button", "data-disable-with" => "Saving . . ."
